

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







/* 탭 콘텐츠 기본 스타일 */
.jax-tab_line { 
  overflow: hidden;
  display: block;
}
.jax-tab_list {
  display: flex;
  flex-wrap: nowrap;
}
.jax-tab_item { 
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  padding: 0px 1.2rem;
}

/* 기본 탭 스타일 */
.jax-tab_item {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f0f0f0;
}

.jax-tab_item.active {
  background-color: #ccc; /* 활성 탭 강조 */
}


.jax-tab_panel {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* 활성화된 탭 콘텐츠 */
.jax-tab_panel.active {
  display: block;
  opacity: 1;
}






/* 반응형 디자인 */
@media (max-width: 600px) {
  .jax-tab_list {
    display: flex;
    /* flex-direction: column; */
  }

  .jax-tab_item {
    margin-bottom: 10px;
  }

  .jax-tab_panel {
    padding: 10px;
  }
}



